<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Keyper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Keyper.Web1.styles.css" asp-append-version="true" />
</head>
<body class="bg-light d-flex flex-column min-vh-100">

<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
            <span class="navbar-brand fs-3 fw-bold">Keyper</span>
            <div class="ms-auto">
                
            </div>
        </div>
    </nav>
</header>

<!-- İçerik -->
<main role="main" class="flex-fill">
    <div class="container py-5">
        @RenderBody()
    </div>
</main>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
        &copy; 2025 Keyper | Güvenli Şifre Yönetimi
    </div>
</footer>

<!-- JS -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
